@model LeecherReg.Models.UserViewModel

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Main/_layout.cshtml";
    var users = LeecherReg.Models.UserDetails.get();
}

 @if(ViewBag.Success == false)
 {       
              <script>
                  $(document).ready(function () {
                      $("#AddUserModal").modal('show');
                  });
              </script>
 }
else
 {       
              <script>
                  $(document).ready(function () {
                      $("#AddUserModal").modal('hide');
                  });
              </script>
 }
   
@using(Html.BeginForm("Adduser","Account",FormMethod.Post))
{
<div class="col-xs-12" id="userdetails">
     <span style="float: right; position: relative;top: -32px;" id="AddUser" class="glyphicon glyphicon-plus"> </span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User name</th>
        <th> Email</th>
      </tr>
    </thead>
        <tbody>
            @foreach (var item in @users) {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Username
                </td>
            </tr>
            
            }

        </tbody>
    </table>
     @Html.ActionLink("Finish","Finish", "Account",null, new { @class="btn btn-primary floatright", @type="button" })
    </div>
}

<!-- Modal -->
  <div class="modal fade" id="AddUserModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="box-shadow:none">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">
        <div class="col-xs-12" style="bottom:5px">
             @Html.TextBoxFor(m => m.Userdetails.Username, new { @class = "width100 form-control" , @placeholder = "Enter User name"})
             @Html.ValidationMessageFor(m => m.Userdetails.Username)
        </div>
         <div class="col-xs-12" style="bottom:5px">
             @Html.TextBoxFor(m => m.Userdetails.Email,new { @class = "width100 form-control" , @placeholder = "Enter email"})
             @Html.ValidationMessageFor(m => m.Userdetails.Email)
        </div>
        </div>
        <div class="modal-footer" style="border-top: 0px;">         
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script>
    $(document).ready(function () {
        $("#AddUser").click(function () {
            $("#AddUserModal").modal('show');
           
        })
        function close() {
            $("#AddUserModal").modal('toggle');
        }
        $("#AddUserModal").on('shown.bs.modal', function(){
             $('#AddUserModal .modal-backdrop').remove();           
        });
        $('.stepwizard-step a[id=userdetails]').removeClass('btn-default').addClass('btn-primary');
        $('.stepwizard-step a[id=companydetails]').removeClass('btn-primary').addClass('btn-default');
        $('.stepwizard-step a[id=connectiondetails]').removeClass('btn-primary').addClass('btn-default');
        $('.stepwizard-step a[id=finishdetails]').removeClass('btn-primary').addClass('btn-default');
    })
</script>